Package: enigma2-plugin-extensions-tvgarden
Version: 2.8
Section: base
OE: 2.0
License: GPLv3
Priority: optional
Architecture: all
Depends: python3-core
Recommends: ca-certificates, python3-yt-dlp, enigma2-plugin-systemplugins-serviceapp, enigma2-plugin-extensions-ytdlpwrapper
Maintainer: Lululla
Description: TV Garden Plugin
Source: enigma2-plugin-extensions-tvgarden
Homepage: https://github.com/OwnerPlugins/TVGarden


